.number {
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background-color: darkgray;
	color: white;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	cursor: pointer;
}

.number:hover {
	color: black;
	background-color: #a0a0a0;
}

#zero {
	width: 101px;
}

div .operator {
	background-color: lightgray;
	/* width: 60px; */
}

#clear {
	width: 101px;
	background-color: red;
}

#clear:hover {
	background-color: darkred;
}

#equals {
	background-color: blue;
	height: 101px;
	line-height: 100px;
}

#equals:hover {
	background-color: darkblue;
}
